#searchbar {
	text-align: center;
}

#searchbar input {
	width: 60%;
	margin-top: 24px;
	display: inline-block;
}

#searchbar .btn {
	width: 80px;
	margin-top: 24px;
	margin-left: 24px;
}

.btn {
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	width: 250px;
	margin-top: 12px;
}

.product-title {
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	width: 250px;
	font-size: 18px;
	margin: 24px 0;
}

.product-item {
	width: 280px;
}

.price {
	text-align: right;
	padding-right: 8px;
	color: #ff2900;
	font-weight: bold;
}

.yuan {
	color: #aaa;
}

#footer {
	padding: 24px 24px;
	color: #999;
	background-color: #222;
	margin-top: 42px;
}

#footer #author {
	font-size: 14px;
}